{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      function initGeolocation() {
        if (navigator && navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            successCallback,
            errorCallback,
            { enableHighAccuracy: true }
          );
        } else {
          console.log('Geolocation is not supported');
        }
      }

      function errorCallback() {
        var box = document.getElementById("sweet_button");
        box.style.color="btn waves-effect waves-light right";
      }

      function successCallback(position) {
        var add_lat = document.querySelectorAll("#add #id_latitude")[0];
        var add_lon = document.querySelectorAll("#add #id_longitude")[0];
        var around_you_lat = document.querySelectorAll("#around_you #id_latitude")[0];
        var around_you_lon = document.querySelectorAll("#around_you #id_longitude")[0];
        add_lat.value = position.coords.latitude;
        add_lon.value = position.coords.longitude;
        around_you_lat.value = position.coords.latitude;
        around_you_lon.value = position.coords.longitude;
        document.getElementById("sweet_button_add").setAttribute("class", "btn waves-effect waves-light right red darken-2");
        document.getElementById("around_you_button").setAttribute("class", "btn waves-effect waves-light right red darken-2");
        document.getElementById("sweet_button_all").setAttribute("class", "btn waves-effect waves-light right red darken-2");
      }
    </script>
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1 0 auto;
      }

      .tabs li.tab {
        padding-top: 7px;
      }

      .input-field .prefix.active {
        color: #d32f2f;
      }

      textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #d32f2f;
        box-shadow: 0 1px 0 0 #d32f2f;
      }

      .tabs .indicator {
        background-color: #d32f2f;
      }
    </style>
  </head>
  <body onload="javascript:initGeolocation()">
    <header>
      <nav class="top-nal red darken-2">
        <div class="container">
          <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo center">Sweet&middot;It</a>
          </div>
        </div>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer class="page-footer red darken-2">
      <div class="footer-copyright">
        <div class="container">
          © 2015 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

  </body>
</html>
