{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}

<div class="col s12">
  <ul class="tabs z-depth-1">
    <li class="tab col s3">
      <a class="active" href="#add">
        <i class="small material-icons black-text">add</i>
      </a>
    </li>
    <li class="tab col s3">
      <a href="#around_you">
        <i class="material-icons black-text">location_city</i>
      </a>
    </li>
    <li class="tab col s3">
      <a href="#best_of_love">
        <i class="material-icons black-text">list</i>
      </a>
    </li>
    <li class="tab col s3">
      <a href="#user">
        <i class="material-icons black-text">face</i>
      </a>
    </li>
  </ul>
</div>

</br>
</br>

<div id="add">
  {% include "app/add_form.html" with form=add_form %}
  </div>
</div>

<div id="around_you">
  {% include "app/sweet_around_you_form.html" with form=around_you_form %}
</div>

<div id="best_of_love">
  {% include "app/best_of_love_form.html" %}
</div>
<div id="user"></div>

{% endblock %}
